@charset "UTF-8";

:root {
    /* Cores Utilizadas */
    --cor0: var(--ciano);
    --cor1: var(--violeta);
    --cor2: var(--cinza);
    --cor3: var(--roxo);

    /* Cores Diversas */
    --ciano: #00f7ff;
    --violeta: #4a54e0;
    --cinza: #585858;
    --roxo: #734173;

    /* Sombras Hover*/
    --cor-0-hover: color-mix(in srgb, var(--cor0), black 30%);

    /* Sombras Caixa */
    --sombra-caixa: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

::selection {
    background-color: var(--cor3);
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor1);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
    padding: 15px;
}

.main {
    background-color: white;
    box-shadow: var(--sombra-caixa);
    max-width: 500px;
    height: 500px;
    border-radius: 15px;
    margin: 30px auto;
    padding: 15px;
}

.box {
    text-align: justify;
    padding: 10px 0;
}

p {
    padding: 5px;
}

.b1 {
    background-color: transparent;
}

.b2 {
    background-color: transparent;
}

footer {
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 15px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor0);
}

footer a:hover {
    color: var(--cor-0-hover);
    text-decoration: underline;
}

footer a:active {color: var(--cor3);}